* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: poppins; */
}

body,
html {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: #ddd7d7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
}

#nav > h1 {
  font-size: 28px;
  font-weight: 100;
}
#nav #part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

#nav #part2 a {
  text-decoration: none;
  color: #222;
  margin: 30px;
}

#nav #part2 a:nth-last-child(1) {
  padding: 10px 30px;
  border-radius: 50px;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}
#nav #part2 a:nth-last-child(1) h5 {
  font-weight: 100px;
  position: relative;
  z-index: 999;
}
#nav #part2 a:nth-last-child(1) #green {
  width: 100%;
  height: 100%;
  background-color: springgreen;
  position: absolute;
  top: 0%;
  left: -100%;
  transition: left 0.4s ease;
}

::-webkit-scrollbar {
  display: none;
}

#nav #part2 a:nth-last-child(1):hover #green {
  left: 0;
}
#page1 {
  width: 100%;
  margin-top: 100px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main #page1 > h1 {
  font-size: 5.4vw;
  font-weight: lighter;
  text-transform: capitalize;
  width: 60%;
  text-align: center;
  position: relative;
  z-index: 999;
}

#main #page1 > h1::after {
  content: "";
  width: 30%;
  position: absolute;
  height: 15px;
  bottom: 0%;
  left: 35%;
  background-image: url("underline-green.svg");
  transform: translate(-50% 0);
  background-size: cover;
}

#main #page1 #img1 {
  height: 520px;
  width: 380px;
  left: 8%;
  top: 22%;
  position: absolute;
}

#main #page1 #img2 {
  height: 210px;
  width: 250px;
  right: 24%;
  top: 16%;
  position: absolute;
  object-fit: cover;
}

#main #page1 #img3 {
  height: 290px;
  width: 290px;
  right: 8%;
  bottom: 6%;
  position: absolute;
  object-fit: cover;
}

#main #page1 img {
  transition: margin 0.4s ease;
}

#main #page1 img:hover {
  margin-top: -5px;
}

#page2 {
  width: 100%;
  height: 70vh;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
}

#page2 h5 {
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
#page2 h5::before {
  content: "";
  position: absolute;
  left: -3%;
  top: 25%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: springgreen;
}

#page2 h1 {
  font-size: 3vw;
  font-weight: lighter;
  /* text-transform: capitalize; */
  width: 50%;
  text-align: center;
  margin: 26px 0;
  position: relative;
}

#page2 h1::after {
  content: "";
  position: absolute;
  height: 70px;
  width: 200px;
  bottom: -5%;
  left: 35%;
  background-image: url("circle-green.svg");
}
#about-us {
  display: flex;
  align-items: center;
}

#about-us > h4 {
  font-size: 28px;
  font-weight: 500;
}

#greendiv {
  height: 30px;
  width: 65px;
  border-radius: 50px;
  border: solid 1px white;
  margin-left: 10px;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

#greendiv img {
  height: 100%;
  width: 80%;
  object-fit: cover;
}

#page3 {
  width: 100%;
  height: 100vh;
  background-color: #ddd7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

#page3 div {
  width: 38%;
  height: 55%;
  overflow: hidden;
  position: relative;
}
#page3 div #image-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #faf8f8;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  padding: 30px;
  /* opacity: 0.5; */
}
#page3 div #image-overlay h2 {
  font-size: 2.5vw;
  font-weight: 100;
}
#page3 div #image-overlay h1 {
  font-size: 3vw;
  font-weight: 100;
}
#page3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  /* filter: blur(0.5px); */
}
.hover {
  transform: scale(1.03); /* Adjust scale factor as needed */
}
#footer {
  width: 100%;
  height: 80vh;
  background-color: #000;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 40px;
  flex-direction: column;
  color: #fff;
}

#footer-top {
  margin-top: 10%;
  width: 80%;
  height: 50%;
  display: flex;
  /* align-items: center; */
}

#footer-top-left {
  width: 40%;
  height: 100%;
  /* background-color: #ddd7d7; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-top-left h1 {
  font-size: 2vw;
  font-weight: 100;
  margin-bottom: 20px;
  width: 60%;
  margin-top: 2.8%;
}

#footer-top-right {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}
#footer-top-right-child1,
#footer-top-right-child2,
#footer-top-right-child3,
#footer-top-right-child4 {
  width: 25%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* align-items: ; */
  justify-content: flex-start;
  padding-top: 20px;
  gap: 18px;
  /* text-align: left; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

#footer-top-right h4 {
  /* width: 60%; */
  /* background-color: #222; */
  font-size: 1.8vw;
  text-align: left;
  font-weight: 100;
}
#footer-top-right h5 {
  /* background-color: #222; */
  font-size: 1.1vw;
  /* width: 70%; */
  font-weight: 100;
  text-align: left;
}

#footer-top-right-child4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

#footer-top-right-child4 img {
  width: 55%;
}

#ruler {
  width: 80%;
  background-color: #fff;
  height: 0.5px;
}

#footer-bottom {
  width: 80%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

#footer-bottom h5 a {
  color: #fff;
}

@media screen and (max-width: 600px) {
  
  #main {
  width: 100%;
  height: 100%;
  background-color: #ddd7d7;
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 0;
}

#nav {
    /* display: none; */
/*     background-color: aquamarine; */
    height: 100px; /* Reduced height for mobile */
    padding: 0 0px; /* Reduced padding */
    width: 100%; /* Full width on smaller screens */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
  }

  #nav > h1 {
    font-size: 35px; /* Smaller font size for the heading */
    margin-top: 25px; /* Added margin for spacing */
  }

  #nav #part2 {
    width: 100%; /* Full width on smaller screens */
    justify-content: space-around; /* Space out links evenly */
  }

  #nav #part2 a {
    margin: 10px; /* Reduced margin for links */
    margin-bottom: 5px;
    font-size: 15px; /* Adjusted font size for links */
  }

  #nav #part2 a:nth-last-child(1) {
    padding: 6px 15px; /* Adjusted padding for the button */
    font-size: 12px; /* Adjusted font size for button text */
    text-align: center;
    display: none;
  }

  #nav #part2 a:nth-last-child(1) h5 {
    font-weight: normal; /* Adjusted font weight for better readability */
  }
 #main #page1 {
  /* margin-top: 10px; */
  margin-bottom: 0px;
  /* background-color: brown; */
  width: 100%;
  height: auto;
  margin-top: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  /* align-items: center; */
  /* justify-content: center; */
}

  #main #page1 h1 {
    font-size: 7vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #main #page1 #img1 {
    width: 100%;
    height: auto;
    position: static;
    object-fit: cover;
  }
  #page1 #img2,
  #page1 #img3 {
    display: none;
    margin-bottom: 0px;
  }

  #main #page1 > h1::after {
    content: "";
    width: 40%;
    position: absolute;
    height: 10px;
    bottom: -5%;
    left: 30%;
    background-image: url("underline-green.svg");
    transform: translate(-50% 0);
    background-size: cover;
  }

  #page2 {
    width: 100%;
    height: 40vh;
    background-color: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
  }

  #page2 h5 {
    font-weight: 500;
    width: 80%;
    font-size: 3vw;
    text-align: center;
    /* position: relative; */
  }
  #page2 h1 {
    font-size: 5vw;
    font-weight: lighter;
    /* text-transform: capitalize; */
    width: 80%;
    text-align: center;
    margin: 20px 0;
    position: relative;
  }

  #page2 h5::before {
    content: "";
    position: absolute;
    left: 4%;
    top: 17%;
    height: 70%;
    width: 3%;
    border-radius: 50%;
    background-color: springgreen;
  }

  #page2 h1::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 25%;
    bottom: -9%;
    left: 35%;
    background-image: url("circle-green.svg");
  }

  #page3 {
    flex-direction: column;
    gap: 0;
  }

  #page3 div {
    width: 100%;
    justify-content: space-evenly;
  }
  #page3 div #image-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #faf8f8;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  padding: 50px;
  /* opacity: 0.5; */
}
#page3 div #image-overlay h2 {
  font-size: 7vw;
  font-weight: 100;
}
#page3 div #image-overlay h1 {
  font-size: 7vw;
  font-weight: 100;
}

  #footer {
    width: 100%;
    height: 70vh;
    background-color: #000;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin: 0;
  }

  #footer-top {
    margin-top: 0;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
  }

  #footer-top-left {
    width: 100%;
    height: 40%;
    /* background-color: #ddd7d7; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #footer-top-left h1 {
    display: none;
    /* font-size: 4vw;
  font-weight: 100;
  width: 52%; */
    /* background-color: #fff; */
  }

  #footer-top-right {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #footer-top-right-child1,
  #footer-top-right-child2,
  #footer-top-right-child3,
  #footer-top-right-child4 {
    width: 25%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding-top: 20px; */
    gap: 13px;
  }

  #footer-top-right h4 {
    font-size: 3.4vw;
    text-align: left;
    font-weight: 100;
  }
  #footer-top-right h5 {
    font-size: 2.5vw;
    font-weight: 100;
    text-align: left;
  }

  #footer-top-right-child4 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    /* justify-content: space-evenly; */
  }

  #footer-top-right-child4 img {
    width: 55%;
  }

  #ruler {
    width: 85%;
    background-color: #fff;
    height: 0.5px;
  }

  #footer-bottom {
    width: 80%;
    height: 10%;
  }

  #footer-bottom h5 a {
    color: #fff;
  }
}
